/* Fonte importada do Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

:root {
    --font-primary: 'Montserrat';
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


/* menu_principal */



body {
  font-size: 100%;
  box-sizing: border-box;
  background-color: #FFFFFF;
  height: 100%;
  margin: 0;
}

/* main-aboutme {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

} */

.container-fluid {
  display: flex;
  flex-direction: row;
  min-height: 88vh;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-menu {
  display: flex;
  gap: 24px;
}

.cabecalho-menu-item {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  color: #151515;
  text-decoration: none;
  /* font-size: 1rem; */
  
}

.cabecalho-menu-item:hover {
  font-weight: bold;
}

.cabecalho-redes-sociais {
  justify-content: flex-end;
}

.cabecalho-menu-item-github {
  color: #151515;
  /* padding-top: 5px; */
  padding-right: 16px;
}

.cabecalho-menu-item-linkedin {
  color: #151515;
  padding-bottom: 1px;
}


.banner-principal {
position:relative;
height: 400px;
margin: 0 auto;
padding: 0;
box-sizing: border-box;
background-color: #151515;
justify-content: center;
align-items: center;
display: flex;
}

.banner-principal-imagem {
  width: auto;
  height: 300px;
  position: relative;
  margin: 40px;
  box-sizing: border-box;
}

/* conteudo */

.custom-container {
    padding: 80px;
    display: flex;
    flex-direction: column;
    background-color: #FFC624;
    justify-content: center;
}

.custom-container-aboutme {
  padding: 80px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  justify-content: center;
}

.banner-principal {
  position:relative;
  height: 400px;
  padding: 0;
  box-sizing: border-box;
  background-color: #151515;
  justify-content: center;
  align-items: center;
  display: flex;
}

.titulo {
  font-family: var(--font-primary);
  font-weight: 800;
  font-size: 24px;
  color: #151515;
}

.texto {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  color: #151515;
  line-height: 1.6;
}

.texto-container {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  color: #151515;
  line-height: 1.6;
  background-color: #EBEBE9;
  border-radius: 40px;
  padding: 36px;
}


.projetos {
  background-color: #FFFFFF;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px;
  margin: 0px;
}

.projetos-design {
  background-color: #FFC624;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px;
  margin: 0px;
}

.projetos-titulo {
  font-family: var(--font-primary);
  font-weight: 800;
  font-size: 24px;
  color: #151515;
  margin-bottom: 40px;
  text-align: center;
}

footer {
margin: 0 auto;
}

.footer-sign {
  background-color: #EBEBE9;
  text-align: center;
  padding: 24px;
  margin: 0 auto;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 12px;
  color: #151515;
}

.hover-zoom:hover {
  transform: scale(1.05);
}


/* @media (max-width: 800px) {
    .conteudo-principal {
    flex-direction: column;
    }

    .conteudo-principal-right {
        margin-top: 32px;
    }
} */